<input type="text" placeholder="Search here for different articles" id="searchbar"/>
<span>
    Filters:
    <select id="filter">
        {%- capture optionstr -%}
            {%- for page in site.pages -%}
                {%- if page.dir == '/faq/' -%}
                    {%- for tag in page.tags -%}
                        {{tag}},
                    {%- endfor -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endcapture -%}
        {%- assign options = optionstr | split, "," | uniq -%}
        {%- for option in options -%}
        <option>{{option}}</option>
        {%- endfor -%}
    </select>
    <button type="button">Add</button>
</span>
<ul id="results"></ul>
<script src="../js/levenshtein.js"></script>
<script>
    document.getElementById("searchbar").addEventListener('input', (event) => {
        const entries = {
            {% for page in site.pages %}
                {% if page.dir == '/faq/' %}
            "{{page.title}}": {
                tags: [{% for tag in page.tags %} "{{tag}}", {% endfor %}],
                summary: [
                    {% for s in page.summary %}
                        {% assign items = s | split: " " %}
                        [{% for i in items %} "{{i}}", {% endfor %}],
                    {% endfor %}
                ],
                url: "{{page.url}}",
                question: "{{page.question}}"
            },
                {% endif %}
            {% endfor %}
        };
        let query = event.target.value.toLowerCase();
        console.log(`Query: ${query}`);
        let results = document.getElementById("results");
        results.innerHTML = "";
        const words = query.split(' ');
        let relevant = [];
        for (const entry in entries) {
            const tags = entries[entry].tags;
            const url = entries[entry].url;
            const question = entries[entry].question;
            const summaries = entries[entry].summary;
            let matched = 0;
            summaries.forEach(summary => {
                summary.forEach(s => {
                    let any = 0;
                    for (let p = 0; p < s.length; p++) {
                            words.forEach(word => {
                            const distance = levenshtein(s.slice(0, p+1), word);
                            console.log(`Distance between ${s.slice(0, p+1)} and ${word} is ${distance}`);
                            if (distance <= 2) {
                                any = p;
                            }
                        })
                    }
                    matched += any;
                })
            });
            if (matched >= words.length) {
                console.log(query, entry);
                relevant.push({relevance: matched, url: url, entry: entry, question: question});
            }
            console.log(tags);
        }
        console.log(relevant);
        relevant = relevant.sort((a, b) => b.relevance - a.relevance);
        console.log(relevant);
        relevant.forEach(r => {
            results.innerHTML += `<li><a href="${r.url}">${r.entry}</a> - ${r.question}</li>\n`;
        });
        // Efficiency? Pfft
        if (query.length < 3) {results.innerHTML = "";}
    });
</script>