<input type="text" placeholder="Search here for different articles" id="searchbar"/>
<ul id="results"></ul>
<script src="../js/levenshtein.js"></script>
<script>
    document.getElementById("searchbar").addEventListener('input', (event) => {
        const entries = {
            {% for page in site.pages %}
                {% if page.dir == '/faq/' %}
            "{{page.title}}": {
                tags: [{% for tag in page.tags %} "{{tag}}", {% endfor %}],
                summary: [
                    {% for s in page.summary %}
                        {% assign items = s | split: " " %}
                        [{% for i in items %} "{{i}}", {% endfor %}],
                    {% endfor %}
                ],
                url: "{{page.url}}",
                question: "{{page.question}}"
            },
                {% endif %}
            {% endfor %}
        };
        let query = event.target.value;
        console.log(`Query: ${query}`);
        let results = document.getElementById("results");
        results.innerHTML = "";
        let words = query.split(' ');
        for (const entry in entries) {
            const tags = entries[entry].tags;
            const url = entries[entry].url;
            const question = entries[entry].question;
            const summaries = entries[entry].summary;
            let matched = false;
            summaries.forEach(summary => {
                summary.forEach(s => {
                    words.forEach(word => {
                        const distance = levenshtein(s, word);
                        console.log(`Distance between ${s} and ${word} is ${distance}`);
                        if (distance <= 2) {
                            matched = true;
                        }
                    })
                })
            });
            if (matched) {
                console.log(query, entry);
                results.innerHTML += `<li><a href="${url}">${entry}</a> - ${question}</li>\n`;
            }
            console.log(tags);
            // tags.forEach(tag => {
            //     console.log(`Tag ${tag}`);
            //     if (query == tag) {
            //         console.log(query, entry);
            //         results.innerHTML += `<li><a href="${url}">${entry}</a> - ${question}</li>\n`;
            //     }
            // });
        }
    });
</script>