<input type="text" placeholder="Search here for different articles" id="searchbar"/>
<ul id="results"></ul>
<script>
    document.getElementById("searchbar").addEventListener('input', (event) => {
        const entries = {
            {% for page in site.pages %}
                {% if page.dir == '/faq/' %}
            "{{page.title}}": {
                tags: [{% for tag in page.tags %} "{{tag}}", {% endfor %}],
                url: "{{page.url}}",
                question: "{{page.question}}"
            },
                {% endif %}
            {% endfor %}
        };
        let query = event.target.value;
        console.log(`Query: ${query}`);
        let results = document.getElementById("results");
        results.innerHTML = "";
        for (const entry in entries) {
            const tags = entries[entry].tags;
            const url = entries[entry].url;
            const question = entries[entry].question;
            console.log(tags);
            tags.forEach(tag => {
                console.log(`Tag ${tag}`);
                if (query == tag) {
                    console.log(query, entry);
                    results.innerHTML += `<li><a href="${url}">${entry}</a> - ${question}</li>\n`;
                }
            });
        }
    });
</script>