---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.menu {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  background-color: #F0F0F0;
  border-color: black;
  border-style: solid;
  padding: 5px;
  a {
    font-weight: bold;
    color: black !important;
  }
}