---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.left-menu {
  position: fixed;
  left: 20px;
  top: 20%;
  border-radius: 10px;
  background-color: #D0D0D0;
  border-color: black;
  padding: 5px;
  a {
    font-weight: bold;
    color: black !important;
  }
}