---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.left-menu {
  position: absolute;
  left: 20px;
  top: 20%;
  border-radius: 10px;
  background-color: #909090;
  border-color: black;
  a {
    font-weight: bold;
    color: black !important;
  }
}